{{#if query}}
  {{#each model as |user|}}
    {{#link-to 'users.user' user.login class='list-item'}}
      <img
        class='list-avatar'
        src={{user.avatarUrl}}
      />
      {{user.login}}
    {{/link-to}}
  {{else}}
    <div class='list-empty'>
      Nope
    </div>
  {{/each}}
{{/if}}
