<main>
  <div class='search'>
    <div class='list-header'>
      {{search-filter
        query=q
        updateQuery=(action 'updateQuery')
      }}
    </div>
    <div class='list'>
      {{search-list
        query=q
        model=model
      }}
    </div>
  </div>

  <div class='content'>
    {{outlet}}
  </div>
</main>
